body {
    background-color: #8483a8;
}


h1{
    text-align: center;
    padding-top: 2rem;
}

.card{
    display: inline-block;
    align-items: center;
    margin: 2rem;
}

.social{
    text-align: center;
}

